.example-container mat-form-field {
    margin-left: 8px;
}

/* Full page background styling */
body, html {
    height: 100%;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #2e0856, #2575fc);
    margin: 0px;
  }
  
  /* Centering the form container */
  .example-container {
    background: rgb(255, 254, 254);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    margin-top:6%;
    margin-bottom: 6%;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #6a11cb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background: #2575fc;
  }
  
  /* nav img{
    width: 70px;
    border-radius: 15px;
}

nav {
    background-color:#D4B996FF;
    padding:20px;
}

ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding: 14px;
}

ul li a{
    text-decoration: none;
    color: #00203FFF;
    font-size: 20px;
} */