<form #loginForm = "ngForm" (ngSubmit) = userLogin(loginForm.value)>

    <div class="example-container" >
        <mat-form-field appearance = "fill">
            <mat-label>Username</mat-label>
                <input matInput placeholder = "Enter username" name = "text" required ngModel>
            
                <mat-error *ngIf = "text.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder = "Enter password" name = "password" required ngModel>
            <mat-error *ngIf = "password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <section>
            <div class="example-label"></div>
                <div class="example-button-row">
                <button mat-flat-button (onclick) = "loginForm">Login</button>

                <!-- <button mat-flat-button disabled>Disabled</button>
                <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a> -->
                </div>
          </section>
    </div>

</form>