<div class="shop-section">
    <div class="box1 box">
        <div class="box-content">
            <h2>Pick up where you left</h2>
            <div class="img-box">
                <img src="assets/images/1.png" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box2 box">
        <div class="box-content">
            <h2>Smartphones</h2>
            <div class="img-box">
                <img src="assets/images/2.png" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box3 box">
        <div class="box-content">
            <h2>Grocery</h2>
            <div class="img-box">
                <img src="assets/images/3.png" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box4 box">
        <div class="box-content">
            <h2>Women's bag collection</h2>
            <div class="img-box">
                <img src="assets/images/4.png" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box5 box">
        <div class="box-content">
            <h2>Shoes</h2>
            <div class="img-box">
                <img src="assets/images/box1.jpg" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box6 box">
        <div class="box-content">
            <h2>Earphone</h2>
            <div class="img-box">
                <img src="assets/images/box6.png" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box7 box">
        <div class="box-content">
            <h2>Model poster</h2>
            <div class="img-box">
                <img src="assets/images/box7.jpg" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

    <div class="box8 box">
        <div class="box-content">
            <h2>Womens shirt</h2>
            <div class="img-box">
                <img src="assets/images/box8.jpg" alt="">
            </div>
                <p style="font-size: large;">See more</p>
        </div>
    </div>

</div>