<!-- 
    <div *ngIf="newsArticles.length === 0">Loading news...</div>
    <div class="shop-section" *ngIf="newsArticles.length > 0"> 
-->        
    <!-- Display static content as before -->

    <!-- Add new section for news articles -->
<!-- 
    <div *ngFor="let article of newsArticles" class="news-box box">
        <div class="box-content">
            <h2>{{ article.title }}</h2>
            <div class="img-box">
 
                <img *ngIf="article.urlToImage; else noImage" [src]="article.urlToImage" alt="News Image">
                <ng-template #noImage>
                    <p>No image available</p>
                </ng-template>
            </div>
            <p style="font-size: large;">{{ article.description }}</p>
            <a class="read-more-container" [href]="article.url" target="_blank">Read more</a>
        </div>
    </div>
-->
    
<div class="shop-section">
    <div class="box1 box">
            <div class="box-content">
                <h2>Apple's Made-in-India push may create 600,000 jobs, 70% for women: Report</h2>
                <div class="img-box">
                    <img src="assets/images/1.png" alt="">
                </div>
                    <p style="font-size: large;">Read more</p>
            </div>
        </div>
    
        <div class="box2 box">
            <div class="box-content">
                <h2>Smartphones</h2>
                <div class="img-box">
                    <img src="assets/images/2.png" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div>
    
        <div class="box3 box">
            <div class="box-content">
                <h2>Grocery</h2>
                <div class="img-box">
                    <img src="assets/images/3.png" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div>
    
        <div class="box4 box">
            <div class="box-content">
                <h2>Women's bag</h2>
                <div class="img-box">
                    <img src="assets/images/4.png" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div>
    
        <div class="box5 box">
            <div class="box-content">
                <h2>Shoes</h2>
                <div class="img-box">
                    <img src="assets/images/box1.jpg" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div>
    
        <div class="box6 box">
            <div class="box-content">
                <h2>Earphone</h2>
                <div class="img-box">
                    <img src="assets/images/box6.png" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div>
    
        <div class="box7 box">
            <div class="box-content">
                <h2>Model poster</h2>
                <div class="img-box">
                    <img src="assets/images/box7.jpg" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div>
    
        <div class="box8 box">
            <div class="box-content">
                <h2>Womens shirt</h2>
                <div class="img-box">
                    <img src="assets/images/box8.jpg" alt="">
                </div>
                    <p style="font-size: large;">Read More</p>
            </div>
        </div> 
    
    </div> 