<!-- <div class="AboutUs-MainPage">
    <div class="AboutUs-img">
        <div class="img-box">
            <img src="assets/images/Aboutus_Home.jpg" alt="">
        </div>
    </div>
    <div class="AboutUs-text"><span class="abt-p">CNBCTV18.com</span>is a new premium digital platform offering important and useful news and information about the stock market, business and economy to audiences in an effective and efficient way. We offer a mix of original and smartly curated coverage of news, analysis and trends about the stock market, business and economy.
        CNBCTV18.com is a new kind of financial publication created for users yearning for sharp news in formats that are pleasing and friendly. We created this because we believe financial news can be informative, meaningful and enjoyable. We are quite excited about telling the most compelling news stories in the most compelling way.</div>
</div> -->