<footer>
    <div class="foot-panel-1">
        Back To Top
    </div>

    <div class="foot-panel-2">
        <ul>
            <h2>News</h2>
            <li>Business</li>
            <li>Stocks</li>
            <li>Economy</li>
            <li>Personal Finance</li>
            <li>Sports</li>
            <li>India</li>
        </ul>

        <ul>
            <h2>Live TV</h2>
            <li>Live TV</li>
            <li>CNBC Awaaz LIVE TV</li>
            <li>CNBC Bajar LIVE TV</li>
        </ul>

        <ul>
            <h2>Market</h2>
            <li>Market Live</li>
            <li>Nift50</li>
            <li>Sensex</li>
            <li>Global Indices</li>
            <li>Dax</li>
            <li>Hang Seng</li>
            <li>Taiwan Weighted</li>
            <li>Nasdaq</li>
        </ul>

        <ul>
            <h2>Popular Categories</h2>
            <li>Companies</li>
            <li>Stocks</li>
            <li>World</li>
            <li>Travel</li>
            <li>Lifestyle</li>
            <li>Education & Career</li>
            <li>Views</li>
            <li>Webstories</li>
            <li>Photos</li>
        </ul>

        <ul>
            <h2>Trending Now</h2>
            <li>#ParaOlympics2024</li>
            <li>#StockMarketLIVEUpdates</li>
            <li>#TradeSetupForJuly26</li>
            <li>#MankindPharma</li>
            <li>#GMRAirports</li>
            <li>#SJVNSharesJump</li>
            <li>SpaceXFalcon9Rocket</li>
            <li>IndusTowersBuyback</li>
        </ul>
    </div>

    <div class="foot-panel-3">
        <div class="logo">
            <img src="assets/cnbc-logo.jfif" alt="Logo">
        </div>
    </div>

    <div class="foot-panel-4">
        <div class="pages">
            <h2>Network 18 Group :</h2>
            <a id = "a-tag" href="#">Moneycontrol</a>
            <a id = "a-tag" href="#">TopperLearning</a>
            <a id = "a-tag" href="#">Overdrive</a>
            <a id = "a-tag" href="#">News18</a>
            <a id = "a-tag" href="#">Cricketnext</a>
        </div>

        <div class="copy-right">
            ©1999-2024, Amazon.com, Inc. or its affiliates
        </div>
    </div>
</footer>